<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4">
		  <p style="text-align: center;"><strong>Server and Website admins:</strong><br> Ayan Das (<a href="mailto: ayan.das@ee.iitkgp.ac.in">ayan.das@ee.iitkgp.ac.in</a>) <br> Arindam Chakraborty (<a href="mailto: arindamchk1995@gmail.com">arindamchk1995@gmail.com</a>)<br><br>&copy 2018-19 IIT KLIV Group.</a></p>
		</div>

    <div class="col-sm-4">
          <br> <br>
          <p style="text-align: center;"><strong>Principal Investigator</strong> of Kharapur Learning, Imaging and Visualization (KLIV) research group is <a href="http://www.facweb.iitkgp.ac.in/~debdoot/index.html">Dr. Debdoot Sheet</a>.</p>
          <!-- <p>
            <strong>KLIV group</strong> is funded by <a href="https://www.intel.in/content/www/in/en/homepage.html">Intel India Pvt. Ltd.</a>, <a href="https://developer.nvidia.com/academia">NVidia GPU Education centre</a>, <a href="http://www.dbtindia.nic.in/">Dept. of Biotech - Govt. of India</a> and other.
          </p> -->
		</div>

		<div class="col-sm-4">
          <p style="text-align: center;">
              <strong>Location:</strong>
              Room # N240 <br>
              Signal and Image Processing (SIP) Lab., Department of Electrical Engineering <br>
              Indian Institute of Technology Kharagpur <br>
              Kharagpur, West Bengal, 721302, India. <br>
              Email: <a href="mailto:debdoot@ee.iitkgp.ac.in">debdoot@ee.iitkgp.ac.in</a> <br>
          </p>
		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
